<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Goods-Mapper">

	<select id="selectTop12" resultType="goods">
		select *
		from goods
		where rownum between 0 and 12
		order by viewcnt desc
	</select>
	
	<select id="selectGoods" resultType="goods">
	SELECT *
	FROM goods
	WHERE gcode = #{gcode}
	</select>
	
	<update id="registGoods" parameterType="goods">
		INSERT INTO goods (gcode, cid, cname, gname, picture, op_name, op_val, content, cg_code, bname)
		VALUES(#{gcode}, #{cid}, #{cname}, #{gname}, #{picture}, #{op_name}, #{op_val}, #{content}, #{cg_code}, #{bname})
	</update>
	
	<select id="getGoodsAllList" resultType="goods">
		SELECT *
		FROM goods
		WHERE cg_code LIKE '%'||#{cg_code}||'%'
	</select>
	
	<select id="getGoodsListByCategory" parameterType="str" resultType="goods">
		SELECT *
		FROM goods
		WHERE cg_code = #{cg_code}
	</select>
</mapper>