<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberC-Mapper">
	<select id="selectMemberCById" parameterType="str" resultType="memberN">
		select 
		* 
		from member_c
		where id=#{id}
	</select>
	
	<update id="insertMemberC" parameterType="memberC">
		INSERT INTO
		member_c(id, name, cno, manager, email, hp, address1, address2, zipcode)
		VALUES(#{id}, #{name}, #{cno}, #{manager}, #{email}, #{hp}, #{address1}, #{address2}, #{zipcode})
	</update>
	
</mapper>