<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberN-Mapper">
	<select id="selectMemberNById" parameterType="str" resultType="memberN">
		select 
		* 
		from member_n
		where id=#{id}
	</select>
	
	<select id="selectMemberNByNickname" parameterType="str" resultType="memberN">
		SELECT *
		FROM member_n
		WHERE nickname = #{nickname}
	</select>
	
	<update id="insertMemberN" parameterType="memberN">
		INSERT INTO
		member_n(id, name, email, nickname, hp, address1, address2, zipcode)
		VALUES(#{id}, #{name}, #{email}, #{nickname}, #{hp}, #{address1}, #{address2}, #{zipcode})
	</update>
	
</mapper>