<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Order_bd-Mapper">

	<select id="selectOrder_bd" resultType="order_bd">
		select *
		from order_bd
		where ocode = #{ocode}
	</select>
	
	<select id="selectOrder_bdByRV" resultType="order_bd">
		SELECT *
		FROM order_bd
		WHERE ocode =#{ocode} AND gcode=#{gcode}
	</select>
	
	<update id="updateRv_Check">
		UPDATE order_bd SET rv_check = 'Y' WHERE ocode=#{ocode} AND gcode = #{gcode}
	</update>
	
	<update id="deleteRv_Check">
		UPDATE order_bd SET rv_check = 'N' WHERE ocode=#{ocode} AND gcode = #{gcode} AND id=#{id}
	</update>
	
	<update id="registOrder_bd" parameterType="order_bd">
		INSERT INTO order_bd (ocode, id, gcode, vol)
		VALUES (#{ocode}, #{id}, #{gcode}, #{vol})
	</update>
	
	
</mapper>