<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Orders-Mapper">

	<select id="selectOrders" resultType="orders">
		select *
		from orders
		where id = #{id}
		order by reg_dt desc
	</select>
	
	<select id="selectOrdersByOcode" resultType="orders">
	SELECT *
	FROM orders
	WHERE ocode = #{ocode}
	</select>
	
	<select id="selectOrdersCount" resultType="int">
	SELECT count(*)
	FROM orders
	WHERE id = #{id}
	</select>
	
	<update id="registOrders" parameterType="orders">
		INSERT INTO orders(ocode, id, reg_dt, ostatus) 
		VALUES(#{ocode}, #{id}, SYSDATE, #{ostatus})
	</update>

</mapper>