<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Payment-Mapper">

	<select id="selectPayment" resultType="payment">
		select *
		from payment
		where ocode = #{ocode}
	</select>
	
	<update id="registPayment" parameterType="payment">
		INSERT INTO payment (ocode, id, recipient, rcp_hp, payway, pay, reg_dt, zipcode, address1, address2, dv_memo)
		VALUES(#{ocode}, #{id}, #{recipient}, #{rcp_hp}, #{payway}, #{pay}, SYSDATE, #{zipcode}, #{address1}, #{address2}, #{dv_memo})
	</update>

</mapper>