<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Review-Mapper">

	<insert id="insertReview" parameterType="review">
	INSERT INTO review(id,writer,score,picture,content,gcode,ocode)
	VALUES(#{id},#{writer},#{score},#{picture},#{content},#{gcode},#{ocode})
	</insert>

	<select id="selectReviewList" resultType="review">
	SELECT *
	FROM review
	WHERE id = #{id}
	ORDER BY reg_dt DESC
	</select>
	
	<update id="delete">
	DELETE review WHERE id=#{id} AND gcode=#{gcode} AND ocode=#{ocode}
	</update>
</mapper>