.container {
	min-width: 688px
}

.sales-form__section__title {
	font-size: 20px;
	color: #000;
	margin-bottom: 40px;
	font-weight: 700
}

.sales-form__divider {
	margin: 0 5px
}

.sales-form__form-caption {
	font-size: 12px;
	line-height: 18px;
	margin-top: 10px;
	text-align: left;
	color: #757575
}

.sales-form__form-error {
	color: #f77;
	margin-top: 10px;
	display: none;
	font-size: 13px
}

.sales-form__form-group {
	margin-bottom: 20px
}

.sales-form__form-group.error .form-label,
	.sales-form__form-group__required {
	color: #f77
}

.sales-form__form-group.error .form-control {
	border-color: #f77
}

.sales-form__form-group.error .form-error {
	display: block
}

.sales-form__form-label {
	font-weight: 700;
	line-height: 40px;
	font-size: 15px;
}

.sales-form__form-check {
	flex: unset;
	display: inline-block;
	margin-right: 30px;
	margin-top: 8px;
	margin-bottom: 2px
}

.sales-form__form-control-wrap {
	width: 290px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: wrap;
	-moz-flex-flow: wrap;
	-ms-flex-flow: wrap;
	flex-flow: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center
}

.form__form-control-wrap {
	width: 100px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: wrap;
	-moz-flex-flow: wrap;
	-ms-flex-flow: wrap;
	flex-flow: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center
}

.sales-form__form-control-wrap>.form-control {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 33px;	
}
.form__form-control-wrap>.goodsform-control {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 33px;
	text-align-last : center;
}

.sales-form__file__btn {
	width: 135px
}

.sales-form__file__name {
	margin-left: 15px;
	display: inline-block;
}

.sales-form__file__caption {
	font-size: 12px;
	line-height: 16px;
	color: #757575;
	margin-top: 15px
}

.sales-form__private-policy {
	text-align: center
}

.sales-form__private-policy__caption {
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 20px;
	text-align: left
}

.sales-form__private-policy__info {
	width: 100%;
	margin-bottom: 40px;
	line-height: 21px
}

.sales-form__private-policy__info thead {
	background-color: #fafafa
}

.sales-form__private-policy__info td {
	width: 33.33333%;
	border: 1px solid #dbdbdb;
	margin-top: 40px;
	padding: 10px 13px
}

.sales-form__private-policy__agree {
	font-size: 18px;
	display: inline-block
}

.sales-form__private-policy__agree__require {
	color: #35c5f0;
	font-weight: 700
}

.sales-form__btn-apply {
	margin-top: 60px;
	text-align: center
}

.sales-form__btn-apply>button {
	width: 360px;
	display: inline-block
}

#sales-form--application__about_product {
	height: 93px
}

.sales-form__file--uploader {
	display: none
}

#sales-form__private-policy__agree.error,
	#sales-form__private-policy__agree.error * {
	color: #f77
}

#sales_user__zip, #user--sales_user_attributes__zip {
	width: 168px;
	display: inline-block
}

#sales-form__btn--find-address {
	display: inline-block;
	vertical-align: middle;
	width: 110px;
	margin-left: 10px
}

#sales_user__address1, #sales_user__address2,
	#user--sales_user_attributes__address1,
	#user--sales_user_attributes__address2 {
	margin-top: 10px
}

.sales-form__text-byte-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	height: 100%;
	width: 100%
}

.sales-form__text-byte-wrap>.form-control {
	max-width: 290px;
	margin-right: 10px
}

.sales-form__text-byte-wrap .sales-form__text-byte {
	font-size: 13px;
	color: #757575;
	margin-left: 15px
}

.seller-layout {
	margin-bottom: 0px
}

.seller-layout__header {
	text-align: center;
	margin-bottom: 0;
}

.seller-layout__header__title {
	display: block;
	font-size: 40px;
	font-weight: 700;
	color: #626363
}

.seller-layout__header__explain {
	text-align: left
}

.seller-layout__header__explain__list {
/* 	margin: 0px auto -30px; */
	list-style-type: disc;
	font-size: 15px;
	color: #292929
}

.seller-layout__header__explain__list>li {
	line-height: 38px
}

.seller-layout__divider {
	margin-top: 60px;
	margin-bottom: 60px
}

.seller-layout__hr {
	margin: 0;
	border: none;
	border-bottom: 1px solid #dbdbdb
}

.signup-progress {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: reverse;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row-reverse;
	-moz-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse
}

.signup-progress__step {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-weight: 700;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 20px;
	color: #dbdbdb;
	position: relative;
	border-color: #dbdbdb;
	border-top: 1px solid;
	border-bottom: 1px solid
}

.signup-progress__step>strong {
	font-size: 25px;
	vertical-align: middle
}

.signup-progress__step:last-child {
	border-left: 1px solid
}

.signup-progress__step:first-child {
	border-right: 1px solid
}

.signup-progress__step:not (:first-child ):before {
	left: calc(100% + 1px);
	border-left: 13.5px solid #dbdbdb
}

.signup-progress__step:not (:first-child ):after, .signup-progress__step:not
	(:first-child ):before {
	content: "";
	display: block;
	position: absolute;
	top: -1px;
	border-top: 31px solid transparent;
	border-bottom: 31px solid transparent
}

.signup-progress__step:not (:first-child ):after {
	left: 100%;
	border-left: 13.5px solid #fff
}

.signup-progress__step.active {
	background-color: #35c5f0;
	border-color: #35c5f0;
	color: #fff
}

.signup-progress__step.active:before {
	border-left-color: transparent
}

.signup-progress__step.active:after {
	border-left-color: #35c5f0
}

.signup-progress__step.active+.signup-progress__step:before {
	border-left-color: transparent
}

.icon--page-mypage {
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url(/assets/icon_map/v4/page-sales-application.png);
	background-size: 320px
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :2dppx) , (
		min-resolution :192dpi) {
	.icon--page-mypage {
		background-image: url(/assets/icon_map/v4/page-sales-application@2x.png)
	}
}

@media ( -webkit-min-device-pixel-ratio :3) , ( min-resolution :3dppx) , (
		min-resolution :288dpi) {
	.icon--page-mypage {
		background-image: url(/assets/icon_map/v4/page-sales-application@3x.png)
	}
}

.complete {
	text-align: center;
	margin-top: 100px
}

.complete--signup {
	margin-top: -20px
}

.complete__title {
	margin-bottom: 30px;
	color: #000
}

.complete__contents {
	line-height: 25px
}

.complete__confirm {
	width: 360px;
	margin-top: 40px
}

.confirm-license__btn {
	width: 100%;
	margin-top: 40px
}

#thumUpload{
	width: 140px;
	margin-left: 25%;
	background:#fff;
	font-size:13px;
	color : #79a3e8;
	border: 1px solid #a5c2e6;
	padding:5px;
	border-radius: 5px;
}
#thumUpload:hover{
	width: 140px;
	margin-left: 25%;
	background: #a5c2e6;
	color:#fff;
	font-size:13px;
	padding:5px;
}

.form__form-control-wrap:before{
	content: ""; 
	position: absolute; 
	top: 50%; 
	width: 0; 
	height: 0; 
	left:18%;
	margin-top: -5px; 
	border-left: 5px solid transparent; 
	border-right: 5px solid transparent; 
	border-top: 5px solid #333;
}

